  /* fonts */

  /*Montserrat*/

  @font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-Regular.otf");
    font-weight: 400;
  }
  @font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-Bold.otf");
    font-weight: 700;
  }

  /* Open Sans */

  @font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans-Light.ttf");
    font-weight: 300;
  }
  @font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans-Regular.ttf");
    font-weight: 400;
  }
  @font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans-Bold.ttf");
    font-weight: 700;
  }
  @font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans-LightItalic.ttf");
    font-weight: 300;
    font-style: italic;
  }
  @font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans-Italic.ttf");
    font-weight: 400;
    font-style: italic;
  }
  @font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
  }

      body {
        color: #444444;
        font-family: "Open Sans", Arial, serif;
        font-size: 100%;
        line-height: 1.5;
        font-weight: 400;
      }
      
      h1, h2, .h1, .h2 {
        font-weight: 400;
        line-height: 1.25;
        margin-top: .5em;
      }
      
      h2 { margin-bottom: .2em;}
      
      h1, .h1 {
        font-size: 32px;
      }
      
      h2, .h2 {
        font-size: 24px;
      }
      
      h3, .h3 {
        font-size: 20px;
      }
      
      h1+h2 { margin-top: 0; }
      
      p, .p, ul, ol {
        font-size: 18px;
      }
      
      p, ul, ol { margin-top: 0px; }
      
            @media screen and (min-width: 480px) {
              h1, .h1 { font-size: 48px; }
              h2, .h2 { font-size: 32px; }
              h3, .h3 { font-size: 24px; }
              p, .p, ul, ol { font-size: 20px;}
              small, .small { font-size: 16px;}
            }
            
            @media screen and (min-width: 640px) {
              h1, .h1 { font-size: 64px; }
              h2, .h2 { font-size: 48px; } 
              h3, .h3 { font-size: 32px; }
            }

      /*
      Header 
      */

      p.p1 {margin: 30.0px 0.0px 0.0px 0.0px; font: 64.0px "Montserrat"; color: #444444}
      p.p2 {margin: 5.0px 0.0px 0.0px 0.0px; font: 20.0px "Montserrat"; color: #444444}
      span.s1 {letter-spacing: 0.0px}
            
      a {
        color: #0099bb;
        text-decoration: none;
      }
      
      a:hover {
        color: #0099bb;
        text-decoration: underline;
      }
          
      blockquote {
        padding-left: 1em;
        font-style: italic;
        border-left: 2px solid #ddd;
      }
      
/*Navbar*/

.navbar {
  background: #FFFFFF;
  width: 100%;
  position: fixed;
  z-index: 1000;
  padding-top: 7px;
  padding-bottom: 7px;
  /*box-shadow: 0px  3px 3px #ddd;*/ 
}
  
.navbar-top {
  top: 0px;
  border-bottom: 1px solid #272727;
}
.navbar-bottom {
  bottom: 0px;
  border-top: 1px solid #272727;
}
.navbar p,
.navbar li {
  font-size: 23px;
  line-height: 30px;
  margin-bottom: 0;
  margin-top: 0;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
.navbar li {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
.navbar a {
  font-family: "Open Sans", Arial, sans-serif;
  color: #09b;
  font-size: 18px;
  margin-bottom: 0;
  text-decoration: none;
  font-weight: 500;
}
.navbar a:hover {
  color: #444444;
}


