<!DOCTYPE html>
<html><head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="{{ base.url }}/images/zero.jpg">
    <title>{{ page.title }}</title>
    <meta name="keywords" content= "chikung, chi kung, qigong, zhan zhuang, minimalism, stillness" />
    <meta name="description" content="Create a regular and consistent practice" />
    <link rel="alternate" type="application/atom+xml" title="Standing Chi Kung" href="http://chikungstories.com/feed.atom" />
    <link rel="stylesheet" href="{{ base.url }}/css/standing.css">
    <link rel="stylesheet" href="{{ base.url }}/css/skeleton.css">
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "ur-22e2589d-6c3f-ce9f-487-cd1b1e26eb3e", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
  </head>
 
  <body>
  <div class="container navbar navbar-top">
      <div class="sixteen columns">
        <ul>
           <li> <a href="{{ base.url }}/index.html">Home</a> </li>
          <li> <a href="{{ base.url }}/about.html">About</a> </li>
          <li> <a href="{{ base.url }}/writing.html">Stories</a> </li>
          <li> <a href="http://eepurl.com/Ri3On">Subscribe</a> </li>
          <li> <a href="{{ base.url }}mailto:lourenco.azevedo@gmail.com">Email me</a> </li>
        </ul>
      </div>
    </div>  

  <div class="container">
    <div class="twelve columns offset-by-two">       
      <p class="p1"><span class="s1">Chi Kung Stories</span></p>
      <p class="p2"><span class="s1">Your life, your practice</span></p>
      <title> {{ page.title }}</title>
      <article>
      {% if page.image %}
        <p align="center"><img src="{{ base.url }}{{ page.image }}" style="border: 1px solid #ccc; padding: 5px; width: 100%"></p>
      {% endif %}
      {{ content }}
      </article>

      {% if page.video %}
        <iframe src="https://player.vimeo.com/video/{{ page.video }}" width="720" height="406" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

        <p><a href="{{ page.video-url }}">Chi kung Stories Home Practice Video</a> from <a href="https://vimeo.com/user44749248">Lourenco de Azevedo</a></p>

      {% endif %}

      {% if page.file %}
        <audio src="{{ page.file }}" preload="none" controls="controls" type="audio/mp3">
        Your browser doesn't support the <code>audio</code> element.
        </audio>
        <br>
        <a href="{{ page.file }}" class="button">Download podcast</a>
      {% endif %}
                
      </div>
    </div>

    <div class="container">
    <div class="sixteen columns">
     <hr>
    </div>
    <div class="container">
</body>
</html>
