<!DOCTYPE html>
<html><head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="{{ base.url }}/images/zero.jpg">
    <title>{{ page.title }}</title>
    <meta name="keywords" content= "chikung, chi kung, qigong, zhan zhuang, minimalism, stillness" />
    <meta name="description" content="Create a regular and consistent practice" />
    <link rel="alternate" type="application/atom+xml" title="Standing Chi Kung" href="http://chikungstories.com/feed.atom" />
    <link rel="stylesheet" href="{{ base.url }}/css/standing.css">
    <link rel="stylesheet" href="{{ base.url }}/css/skeleton.css">
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "ur-22e2589d-6c3f-ce9f-487-cd1b1e26eb3e", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
  </head>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-37268815-4', 'chikungstories.com');
  ga('send', 'pageview');

</script>

  <body>
  <div class="container navbar navbar-top">
      <div class="sixteen columns">
        <ul>
           <li> <a href="{{ base.url }}/index.html">Home</a> </li>
          <li> <a href="{{ base.url }}/about.html">About</a> </li>
          <li> <a href="{{ base.url }}/writing.html">Writing</a> </li>
          <li> <a href="http://eepurl.com/Ri3On">Subscribe</a> </li>
          <li> <a href="{{ base.url }}mailto:lourenco.azevedo@gmail.com">Email me</a> </li>
        </ul>
      </div>
    </div>  

  <div class="container">
    <div class="twelve columns offset-by-two">       
      <p class="p1"><span class="s1">Chi Kung Stories</span></p>
      <p class="p2"><span class="s1">Ideas and insights about daily practice</span></p>
      <title> {{ page.title }}</title>
                {{ content }}
                <span class='st_facebook_large' displayText='Facebook'></span>
                <span class='st_twitter_large' displayText='Tweet'></span>
                <span class='st_googleplus_large' displayText='Google +'></span>
                <span class='st_tumblr_large' displayText='Tumblr'></span>
                <span class='st_email_large' displayText='Email'></span>
                <span class='st__large' displayText=''></span>
      </div>
    </div>

    <div class="container">
    <div class="sixteen columns">
     <hr>
    </div>
    <div class="container">
</body>
</html>
