---
layout: default
---
<header>
	<h2>{{ page.title }}</h2>
</header>

<article> 
 {% if page.image %}
	<p align="center"><img src="{{ base.url }}{{ page.image }}" style="border-radius: 15px; width: 100%"></p>
 {% endif %}
</article>

{{ content }}

{% if page.video %}
<iframe src="https://player.vimeo.com/video/{{ page.video }}" width="720" height="406" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

<p><a href="{{ page.video-url }}">Chi kung Stories Home Practice Video</a> from <a href="https://vimeo.com/user44749248">Lourenco de Azevedo</a></p>

{% endif %}

{% if page.file %}
	<audio src="{{ page.file }}" preload="none" controls="controls" type="audio/mp3">
	  Your browser doesn't support the <code>audio</code> element.
	</audio>
	<br>
	<a href="{{ page.file }}" class="button">Download podcast</a>
{% endif %}

<br>
<br>

{% if page.previous %}
 <p><a id="left" href="{{ page.previous.url }}" title="{{ post.previous.title }}">&larr; Previous post: {{ page.previous.title }}</a></p>

 {% endif %}
                
 {% if page.next %}
    <p><a id="right" href="{{ page.next.url }}" title="{{ page.next.title }}">&rarr; Next post: {{ page.next.title }}</a></p>

{% endif %}


              
    

 
		  




